{% extends "recipe/base.html" %}
{% block content %}
    <div class="media content-section">
        <div class="media-body">
            <h1><a class="article-title" href="#">{{ recipe.name }}</a></h1>
            Posted by <a class="mr-2" href="{% url 'profile' %}">{{ recipe.author }}</a>
            <small class="text-muted">{{ recipe.date_posted|date:"F d, Y" }}</small>
            <hr class="my-4" />
            <img src="{{ recipe.picture.url }}" alt="{{ recipe.name }}" />
            <p class="article-content">{{ recipe.description }}</p>
        </div>
    </div>
{% endblock content %}